<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
      <title>REST APIS⚡</title> 
      <description>Hai Stah👋</description>
      <!-- General CSS Files -->
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/app.min.css" />
      <!-- Template CSS -->
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/style.css" />
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/components.css" />
      <!-- Custom style CSS -->      	
      <link rel="stylesheet" href="https://h4ck3rs404-api.herokuapp.com/assets/css/custom.ss" /> 
      <link rel="shortcut icon" type="image/x-icon" href="https://b.top4top.io/p_20166b26j9.jpeg" />
   </head>
   
   <script>
    alert(`WELCOME TO`)
    </script>
    
    
  <body>
  <script src="https://unpkg.com/feather-icons"></script>
  </body>

   <body id="page-top">
   <div id="wrapper">
  	
  
   <body>
      <div class="loader"></div>
      <div id="app">
         <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
               <div class="form-inline mr-auto">
                  <ul class="navbar-nav mr-3">
                     <li>
                        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a>
                     </li>
                     <li>
                        <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                           <i data-feather="maximize"></i>
                        </a>
                     </li>
                     <li>
                        <form class="form-inline mr-auto">
                           <div class="search-element">
                              <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200" />
                              <button class="btn" type="submit">
                                 <i class="fas fa-search"></i>
                              </button>
                           </div>





                  </form>
                  </li>
                  </ul>
                  </div>
                  <ul class="navbar-nav navbar-right">
                  <li class="dropdown dropdown-list-toggle">
                  <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i> <span class="badge headerBadge1"> 2 </span> </a>
                  <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                  <div class="dropdown-header">
                  Message
                  <div class="float-right">
                  <a href="#">Notifikasi</a>
                  </div>
                  </div>
                  <div class="dropdown-list-content dropdown-list-message">
                  <a href="#" class="dropdown-item">
                  <span class="dropdown-item-avatar text-white"> <img alt="image" src="https://b.top4top.io/p_2009aojvb8.jpeg" class="rounded-circle" /> </span>
                  <span class="dropdown-item-desc">
                  <span class="message-user">RR018</span>
                  <span class="time messege-text">Apikey = Administrator</span>
                  <span class="time">08 Juli 2021</span>
                  </span>
                  </a>
                  
                  <a href="#" class="dropdown-item">
                  <span class="dropdown-item-avatar text-white">
                  <img alt="image" src="https://b.top4top.io/p_2009aojvb8.jpeg" class="rounded-circle" />
                  </span>
                  <span class="dropdown-item-desc">
                  <span class="message-user">@RR018</span> <span class="time messege-text">Make the best of it</span>
                  <span class="time">08 Juli 2021</span>
                  </span>
                  </a>
                           
                  </div>
                  <div class="dropdown-footer text-center">
                  <a href="#">View All ></a>
                  </div>
                  </div>
                  </li>



                  <li class="dropdown dropdown-list-toggle">
                  <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i> </a>
                  <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                  <div class="dropdown-header">
                  Notifications
                  <div class="float-right">
                  <a href="#">Mark All As Read</a>
                  </div>
                  </div>
                  <div class="dropdown-list-content dropdown-list-icons">
                  <a href="#" class="dropdown-item dropdown-item-unread">
                  <span class="dropdown-item-icon bg-primary text-white"> <i data-feather="code"></i> </span> <span class="dropdown-item-desc">If the feature doesn't work,Report meMark All As Read<span class="time">Yesterday</span> </span>
                  </a>
                  </div>
                  <div class="dropdown-footer text-center">
                  <a href="#">View All ></a>
                  </div>
                  </div>
                  </li>




                 <li class="dropdown">
                 <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                 <img alt="image" src="https://b.top4top.io/p_2009aojvb8.jpeg" class="user-img-radious-style" /> <span class="d-sm-none d-lg-inline-block"></span>
                 </a>
                 <div class="dropdown-menu dropdown-menu-right pullDown">
                 <div class="dropdown-title">Welcome BRO</div>
                 <a href="https://wa.me/6285788555068?text=Administrator" class="dropdown-item has-icon"> <i data-feather="key"></i> Apikey </a>
                 <a href="/about" class="dropdown-item has-icon"><i data-feather="info"></i> About</a>
                 </div>
                 </li>
                 </ul>
                 </nav>




                  <div class="main-sidebar sidebar-style-2">
                  <aside id="sidebar-wrapper">
                  <div class="sidebar-brand">
                  <a href="/"> <span class="logo-name">RR018-API</span> </a>
                  </div>
                  <div class="sidebar-user">
                  <div class="sidebar-user-picture">
		          <img alt="image" src="https://b.top4top.io/p_2009aojvb8.jpeg" />
                  </div>
                  <div class="sidebar-user-details">
                  <div class="user-name">LIST FITURS</div>
                  <div class="user-role">@RR018</div>
                  </div>
                  </div>
                  <ul class="sidebar-menu">
                  <li class="menu-header">Main</li>
                  <li>
                  <a href="/" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                  </li>
                  </li>
                     
                     
                   <li class="menu-header">Menu</li>
                   <li class="dropdown">                  
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Photooxy Text</span></a>
                   <ul class="dropdown-menu">
                   <a class="nav-link" href="/api/photooxy/shadow?apikey=Administrator&text=RR018" target="_blank">Shadow Text Effect</a>
                   <a class="nav-link" href="/api/photooxy/romantic?apikey=Administrator&text=RR018" target="_blank">Romantic Text Effect</a>
                   <a class="nav-link" href="/api/photooxy/smoke?apikey=Administrator&text=RR018" target="_blank">Smoke text Effect</a>
                   <a class="nav-link" href="/api/photooxy/burn-paper?apikey=Administrator&text=RR018" target="_blank">Burn-paper Text Effect</a>
                   <a class="nav-link" href="/api/photooxy/naruto?apikey=Administrator&text=RR018" target="_blank">Naruto Text Effect</a>
                   <a class="nav-link" href="/api/photooxy/romantic?apikey=Administrator&text=RR018" target="_blank">Romantic Text Effect</a>
                   <a class="nav-link" href="/api/photooxy/love-message?apikey=Administrator&text=RR018" target="_blank">Love-Message Text Effect</a>
                   <a class="nav-link" href="/api/photooxy/message-under-grass?apikey=Administrator&text=RR018" target="_blank">Message Under Grass</a>
                   <a class="nav-link" href="/api/photooxy/glitch?apikey=Administrator&text=RR018&text2=RIZKI" target="_blank">Glitch Text Effect</a>
                   <a class="nav-link" href="/api/photooxy/double-heart?apikey=Administrator&text=RR018" target="_blank">Double Heart</a>
                   <a class="nav-link" href="/api/photooxy/coffe-cup?apikey=Administrator&text=RR018" target="_blank">Coffe-cup Text Effect</a>
                   <a class="nav-link" href="/api/photooxy/love-text?apikey=Administrator&text=RR018" target="_blank">Love-Text Effect</a>
                   <a class="nav-link" href="/api/photooxy/butterfly?apikey=Administrator&text=RR018" target="_blank">Butterfly Text Effect</a>
                   </ul>
                   </li>



                   <li class="dropdown">                        
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span> Text Pro</span></a>
                   <ul class="dropdown-menu">
                   <a class="nav-link" href="/api/textpro/natural-leaves?apikey=Administrator&text=RR018" target="_blank">Natural Leaves Text Images</a>
                   <a class="nav-link" href="/api/textpro/black-pink?apikey=Administrator&text=RR018" target="_blank">Black Pink Text Image</a>
                   <a class="nav-link" href="/api/textpro/drop-water?apikey=Administrator&text=RR018" target="_blank">Drop Water Text Image</a>
                   <a class="nav-link" href="/api/textpro/logo-wolf?apikey=Administrator&text=RR018&text2=RIZKI" target="_blank">Logo Wolf Text Image</a>
                   <a class="nav-link" href="/api/textpro/logo-wolf2?apikey=Administrator&text=RR018&text2=RIZKI" target="_blank">Logo Wolf 2 Text Image</a>
                   <a class="nav-link" href="/api/textpro/logo-wolf?apikey=Administrator&text=RR018" target="_blank">Thunder Text Image</a>
                   <a class="nav-link" href="/api/textpro/logo-wolf?apikey=Administrator&text=RR018" target="_blank">Firework Sparkle Text Image</a>
                   <a class="nav-link" href="/api/textpro/logo-wolf?apikey=Administrator&text=RR018" target="_blank">Matrix Text Image</a>
                   <a class="nav-link" href="/api/textpro/christmas?apikey=Administrator&text=RR018" target="_blank">Christmas Text Image</a>
                   <a class="nav-link" href="/api/textpro/3d-gradient?apikey=Administrator&text=RR018" target="_blank">3D Gradient Text Image</a>
                   <a class="nav-link" href="/api/textpro/porn-hub?apikey=Administrator&text1=RR018&text2=RIZKIR" target="_blank">Porn Hub Text Image</a>
                   </ul>
                   </li>



                   <li class="dropdown">                       
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="edit-2"></i><span>Maker Menu</span></a>
                   <ul class="dropdown-menu">
                   <a class="nav-link" href="/api/maker/nulis?apikey=Administrator&text=RR018" target="_blank">Nulis Buku</a>
                   <a class="nav-link" href="/api/maker/attp?apikey=Administrator&text=RR018" target="_blank">Attp</a>
		           <a class="nav-link" href="/api/maker/ttp?apikey=Administrator&text=RR018" target="_blank">Ttp</a>
		           <a class="nav-link" href="/api/maker/dadu?apikey=Administrator" target="_blank">Random DADU</a>
		           <a class="nav-link" href="/api/random/meme?apikey=Administrator" target="_blank">Meme</a>
		           <a class="nav-link" href="/api/maker/emoji2png?apikey=Administrator&text=" target="_blank">EmojinToPng</a>
                   <a class="nav-link" href="/api/maker/skatch?apikey=Administrator&url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmrYfgiRt1lLwNgRMgMbID62qH3EQ2T1c6RUJEQMcoCWKqVVxAg7R_LfM&s=10" target="_blank">Skatch Effect</a>
		           <a class="nav-link" href="/api/maker/harta-tahta?apikey=Administrator&text=RR018" target="_blank">Harta Tahta</a>
                   </ul>
                   </li>

  


                   <li class="dropdown">
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="download"></i><span>Media</span></a>
                   <ul class="dropdown-menu">
                   <a class="nav-link" href="/api/download/ig?url=https://www.instagram.com/p/CPSnmUfj-7J/&apikey=Administrator" target="_blank">Ig Download</a>
		           <a class="nav-link" href="/api/download/fb?url=https://www.facebook.com/alanwalkermusic/videos/277641643524720&apikey=Administrator" target="_blank">Facebook Downloader</a>
		           <a class="nav-link" href="/api/download/tiktok?url=https://vt.tiktok.com/ZSJhvu1AE/&apikey=Administrator" target="_blank">Tiktok Downloader</a>
		           <a class="nav-link" href="/api/download/ytmp3?url=https://youtu.be/Nq5rzeJ5Ab4&apikey=Administrator" target="_blank">Ytmp3</a>
                   <a class="nav-link" href="/api/download/ytmp4?url=https://youtu.be/Nq5rzeJ5Ab4&apikey=Administrator" target="_blank">Ytmp4</a>
                   <a class="nav-link" href="/api/yt/search?query=RR018&apikey=Administrator" target="_blank">Youtube Search</a>
		           <a class="nav-link" href="/api/yt/playmp3?query=Monolog-pamungkas&apikey=Administrator" target="_blank">Playmp3</a>
		           <a class="nav-link" href="/api/yt/playmp4?query=Monolog-pamungkas&apikey=Administrator" target="_blank">Playmp4</a>
		           <a class="nav-link" href="/api/music/joox?apikey=Administrator&query=RR018" target="_blank">Joox Download</a>
                   <a class="nav-link" href="/api/music/spotify?apikey=Administrator&query=RR018" target="_blank">Spotify Search</a>
                   </ul>
                   </li>





                   <li class="dropdown">
                   <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="umbrella"></i><span>Islami</span></a>
                   <ul class="dropdown-menu">
		           <a class="nav-link" href="/api/hadits?kitab=bukhari&nomor=52&apikey=APIKEY" target="_blank">Hadits Shahih</a>
		           <a class="nav-link" href="/api/quran?surah=1&ayat=2&apikey=APIKEY" target="_blank">Al Qur'an</a>
		           <a class="nav-link" href="/api/muslim/tahlil?apikey=APIKEY" target="_blank">Doa Tahlil</a>
		           <a class="nav-link" href="/api/muslim/wirid?apikey=Administrator" target="_blank">Doa Wirid</a>
		           <a class="nav-link" href="/api/muslim/asmaulhusna?apikey=Administrator" target="_blank">Asmaul Husna</a>
		           <a class="nav-link" href="/api/muslim/doaharian?apikey=Administrator" target="_blank">Doa Harian</a>
		           <a class="nav-link" href="/api/muslim/ayatkursi?apikey=Administrator" target="_blank">Ayat Kursi</a>
		           <a class="nav-link" href="/api/kisahnabi?nabi=muhammad&apikey=Administrator" target="_blank">Kisah Nabi</a>
		           <a class="nav-link" href="/api/muslim/niatshalat?apikey=Administrator" target="_blank">Niat Shalat</a>
		           <a class="nav-link" href="/api/muslim/bacaanshalat?apikey=Administrator" target="_blank">Bacaan Shalat</a>
		           <a class="nav-link" href="/api/jadwalshalat?kota=jakartautara&apikey=Administrator" target="_blank">Jadwal Shalat</a>
			       </ul>
                   </li>






                     <li class="dropdown">
                     <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="zoom-in"></i><span>Stalk</span></a>
                     <ul class="dropdown-menu">
                     <a class="nav-link" href="/api/stalk/tiktok?apikey=Administrator&username=chikakiku" target="_blank">Tiktok</a>
                     <a class="nav-link" href="/api/stalk/ig?apikey=Administrator&username=Beni_230" target="_blank">Instagram</a>
                     </ul>
                     </li>




                   
                     

                     <li class="dropdown">
                     <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="flag"></i><span>Education</span></a>
                     <ul class="dropdown-menu">
		             <a class="nav-link" href="/api/wikipedia?search=anjing&apikey=Administrator" target="_blank">Wikipedia</a>
                     <a class="nav-link" href="/api/kodepos?kota=jakarta&apikey=APIKEY" target="_blank">kodepos</a>
                     <a class="nav-link" href="/api/music/liriklagu?query=Mimpi semata&apikey=Administrator" target="_blank">Search Lirik Lagu</a>
                     <a class="nav-link" href="/api/music/chordlagu?lagu=Mimpi semata&apikey=Administrator" target="_blank">Search Chord Lagu</a>          
                     </ul>
                     </li>




 
                     <li class="dropdown">
                     <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="book" aria-hidden="true"></i><span>Other</span></a>
                     <ul class="dropdown-menu">
                     <a class="nav-link" href="/api/fakedata?country=en&apikey=Administrator" target="_blank">Fake Data</a>
                     <a class="nav-link" href="/api/web2plain-text?apikey=Administrator&url=https://rr018-apii.herokuapp.com" target="_blank">Web To Plain-Text</a>
                     <a class="nav-link" href="/api/tools/wpuser?apikey=Administrator&url=http://" target="_blank">Wordpress User</a>
                     <a class="nav-link" href="/api/short/tinyurl?url=google.com&apikey=Administrator" target="_blank">Shortlink Tinyurl</a>
                     <a class="nav-link" href="/api/translate?kata=hi&apikey=Administrator" target="_blank">Translate</a>
                     <a class="nav-link" href="/api/kuis/caklontong?apikey=Administrator" target="_blank">Cak Lontong</a>
                     <a class="nav-link" href="/api/kuis/tebakgambar?apikey=Administrator" target="_blank">Tebak Gambar</a>
                     <a class="nav-link" href="/api/hilih?kata=halah&apikey=Administrator" target="_blank">Kata Hilih</a>
                     </ul>
                     </li>




                     <li class="dropdown">
                     <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="dollar-sign"></i><span>DONASI(: </span></a>            
                     <ul class="dropdown-menu">
                     <a class="nav-link" href="6285788555068" target="_blank">Pulsa</a>
                     <a class="nav-link" href="6285788555068" target="_blank">Ovo</a>
                     <a class="nav-link" href="https://saweria.co/RR018" target="_blank">Saweria</a>                    
                      </ul>
                      </li>


                     <li>
                     <li class="menu-header">About Me</li>
                     <li>
                     <a href="https://youtube.com/channel/UCxV6HGfaKAojH029ZcD_WJg" class="nav-link"><i data-feather="youtube"></i><span>Youtube</span></a>
                     </li>
                     <li>
                     <a href="https://www.instagram.com/s4mpah.story" class="nav-link"><i data-feather="instagram"></i><span>Instagram</span></a>
                     </li>
                     <li>
                     <a href="https://github.com/rizkiramadhan4617" class="nav-link"><i data-feather="github"></i><span>Github</span></a>
                     </li>
                     </ul>
                     </aside>
                     </div>



            <!-- Main Content -->
            <div class="main-content">
               <section class="section">
                  <ul class="breadcrumb breadcrumb-style">
                     <li class="breadcrumb-item">
                        <h4 class="page-title m-b-0">Dashboard</h4>
                     </li>
                     <li class="breadcrumb-item">
                        <a href="/"><i data-feather="home"></i></a>
                     </li>
                     <li class="breadcrumb-item active">Hai Welcome To Back</li>
                  </ul>
                  
                  
                  
                  <div class="row">
                     <div class="col-lg-3 col-sm-6">
                        <div class="card">
                           <div class="card-statistic-4">
                              <div class="info-box7-block">
                                 <h6 class="m-b-20 text-right"> Total Hit</h6>
				                <h4>
                                 <i data-feather="battery"></i> <span id="visit"> 0 </span></h4>
                                 <p class="mb-0 mt-3 text-muted"> Jumlah request</p>
                              </div>
                           </div>
                        </div>
                     </div>



                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                           <div class="card-statistic-4">
                              <div class="info-box7-block">
                                 <h6 class="m-b-20 text-right">Time Now</h6>
				 <h4>
                                 <i data-feather="clock"></i> <span id="browser_info"> 00.00 </span></h4>
                                 <p class="mb-0 mt-3 text-muted"><span id="browser_sholat"></span></p>
                              </div>
                           </div>
                        </div>
                     </div>




                     <div class="col-lg-3 col-sm-6">
                        <div class="card">
                           <div class="card-statistic-4">
                              <div class="info-box7-block">
                                 <h6 class="m-b-20 text-right">Your IP</h6>
				 <h4>
                                 <i data-feather="wifi"></i> <span id="ip"> 127.0.0.1 </span></h4>
                                 <p class="mb-0 mt-3 text-muted"> Ip Kamu</p>
                              </div>
                           </div>
                        </div>
                     </div>
		    </div>
		
		
		
		
		
		       
		       
		       
		       


                <form action="/api/cekapikey">
                <div class="col-sm-30 col-lg-3">
              <div class="card">
              <div class="card-statistic-4">
           <div class="info-box7-block">
          <h6 class="m-b-20 text-right">Apikey</h6>
          </div>
           <input type="password" class="form-control" placeholder="Masukan Apikey Anda" name="apikey" required=""><br>
            <button class="btn btn-danger btn-icon-split">
             <span class="icon text-white-50">
              <i class="fas fa-check"></i>
             </span>
             <span class="text">Submit</span>
            </button>
         </div>
        </div>
       </div>
      



                  <div class="row">
                     <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card card-info">
                           <div class="card-header">
                              <h4> WARNING!! </h4>
                              <div class="card-header-action">
                                 <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i data-feather="x-circle"></i></a>
                              </div>
                           </div>
                           <div class="collapse show" id="mycard-collapse">
                              <div class="card-body">
                                 <ol>
                                    <li>Jika Anda Menemukan Bug,Harap lapor</li>
                                    <li>Gunakan Fitur Yang Seadanya</li>
                                 </ol>
                              </div>
                              <div class="card-footer">
                              </div>
                           </div>
                        </div>
                     </div>




                     <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card">
                           <div class="card-header">
                              <h4>Note</h4>
                           </div>
                           <div class="card-body">
                              <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                                 <li class="media">
                                    <img alt="image" class="mr-3 rounded-circle" width="70" src="https://b.top4top.io/p_2009aojvb8.jpeg" />
                                    <div class="media-body">
                                       <div class="media-title mb-1">WARNING!!</div>
                                       <div class="text-time">@RR018</div>
                                       <div class="media-description text-muted">APIKEY : Administrator</div>
                                    </div>
                                 </li>
                                 <li class="media">
                                    <img alt="image" class="mr-3 rounded-circle" width="70" src="https://b.top4top.io/p_2009aojvb8.jpeg" />
                                    <div class="media-body">
                                       <div class="media-title mb-1">WARNING!!</div>
                                       <div class="text-time">@RR018</div>
                                       <div class="media-description text-muted">SELAMAT MENGUNAKAN</div>
                                    </div>
                                 </li>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                     </div>
                     
                     
                     
                                       <h6>
                                       <i class="activity-icon bg-warning"></i>
                                       <a href="/changelog" target="_blank">clear</a>
                                    </li>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <div class="settingSidebar">
                  <a href="javascript:void(0)" class="settingPanelToggle"> <i data-feather="settings"></i> </a>
                  <div class="settingSidebar-body ps-container ps-theme-default">
                     <div class="fade show active">
                        <div class="setting-panel-header">Setting Panel</div>
                        <div class="p-15 border-bottom">
                           <h6 class="font-medium m-b-10">Select Layout</h6>
                           <div class="selectgroup layout-color w-50">
                              <label class="selectgroup-item">
                                 <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked />
                                 <span class="selectgroup-button">Light</span>
                              </label>
                              <label class="selectgroup-item">
                                 <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout" />
                                 <span class="selectgroup-button">Dark</span>
                              </label>
                           </div>
                        </div>
                        <div class="p-15 border-bottom">
                           <h6 class="font-medium m-b-10">Sidebar Color</h6>
                           <div class="selectgroup selectgroup-pills sidebar-color">
                              <label class="selectgroup-item">
                                 <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar" />
                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Light Sidebar"><i data-feather="sun"></i></span>
                              </label>
                              <label class="selectgroup-item">
                                 <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked />
                                 <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip" data-original-title="Dark Sidebar"><i data-feather="moon"></i></span>
                              </label>
                           </div>
                        </div>
                        
                        
                        <div class="p-15 border-bottom">
                           <h6 class="font-medium m-b-10">Color Theme</h6>
                           <div class="theme-setting-options">
                              <ul class="choose-theme list-unstyled mb-0">
                                 <li title="white" class="active">
                                    <div class="white"></div>
                                 </li>
                                 <li title="cyan">
                                    <div class="cyan"></div>
                                 </li>
                                 <li title="black">
                                    <div class="black"></div>
                                 </li>
                                 <li title="purple">
                                    <div class="purple"></div>
                                 </li>
                                 <li title="orange">
                                    <div class="orange"></div>
                                 </li>
                                 <li title="green">
                                    <div class="green"></div>
                                 </li>
                                 <li title="red">
                                    <div class="red"></div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="p-15 border-bottom">
                           <div class="theme-setting-options">
                              <label class="m-b-0">
                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="mini_sidebar_setting" />
                                 <span class="custom-switch-indicator"></span>
                                 <span class="control-label p-l-10">Mini Sidebar</span>
                              </label>
                           </div>
                        </div>
                        <div class="p-15 border-bottom">
                           <div class="theme-setting-options">
                              <label class="m-b-0">
                                 <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="sticky_header_setting" />
                                 <span class="custom-switch-indicator"></span>
                                 <span class="control-label p-l-10">Sticky Header</span>
                              </label>
                           </div>
                        </div>
                        <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                           <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme"><i data-feather="refresh-cw"></i> Restore Default </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <footer class="main-footer">
               <div class="footer-left">
                  Copyright &copy; 2021
                  <div class="bullet"></div>
               Made with by<a href="https://instagram.com/s4mpah.story"> Nothing </a>
               </div>
               <div class="footer-right"></div>
            </footer>
         </div>
      </div>
      <!--Audio-->
      </div>
      </div>
      <audio autoplay="true" src="https://g.top4top.io/m_2019ooq1y9.mp3"></audio>
      <!-- Scroll to top -->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      <!--Chat Weee-->
      <script src="https://chatwee-api.com/v2/script/6069e43c514d04375e2f3042.js"></script>
      <!-- General JS Scripts -->
      <script src="https://h4ck3rs404-api.herokuapp.com/assets/js/app.min.js"></script>
      <!-- Template JS File -->
      <script src="https://h4ck3rs404-api.herokuapp.com/assets/js/scripts.js"></script>
      <script src="https://h4ck3rs404-api.herokuapp.com/assets/js/fahmi.js"></script>
      <!-- Custom JS File -->
      <script src="https://h4ck3rs404-api.herokuapp.com/assets/js/custom.js"></script>
      
   </body>
</html>
