
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

      <title>RR018-SHOP - Download Aplikasi Android RR018-SHOP</title>
              <link rel="shortcut icon" href="https://bukaolshop.com/images/logolaunch.png">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://storage3.bukaolshop.com/asset/style.css">
      <link href="jquery.notify.css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175234168-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175234168-1');
</script>


    </head>
    <body style="font-family:Arial">

      <div class="warp">

        <div class="row header">
          <div class="col-md-8 col-xs-12" style="height:50px">
                          <img src="https://bukaolshop.com/images/logo.png" class="logo" alt="" width="auto" height="100%">
                      </div>
          <div class="col-md-4 " style="height:50px">
                          <a href="https://bukaolshop.com" target="_blank" class="tombol">
                Buat Aplikasi Olshop
              </a>
                      </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-centered" style="margin-top:30px">
            <center>
              <h1>Download Aplikasi RR018-SHOP</h1>
              <p><img src="https&colon;&sol;&sol;storage1&period;bukaolshop&period;com&sol;images2&sol;77603&sol;icon&sol;8177737&period;png" alt="" style="width:80px;margin-top:10px"></p>
              <a href='https://download.bukaolshop.com/files/apk/rr018shop.apk' class='myButton'>Download Aplikasi APK</a>            </center>
          </div>
          <div class="col-md-12 ">
            <center>
              <div class="card">
                <table>
                  <tbody>
                    <tr>
                      <td>Nama Aplikasi</td>
                      <td>:</td>
                      <td>RR018-SHOP</td>
                    </tr>
                    <tr>
                      <td>Versi</td>
                      <td>:</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>Format</td>
                      <td>:</td>
                      <td>APK</td>
                    </tr>
                    <td>Link Singkat</td>
                    <td>:</td>
                    <td><input type="text" id="txtlink" placeholder="Link" class="form-control" value="https://apy.pw/rr018shop"></td>
                  </tr>
                  <tr>
                    <td class="copytd"></td>
                    <td class="copytd"></td>
                    <td class="copytd"><button onclick="copyToClipboard('#txtlink')"  class="copy">Copy</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </center>
        </div>
      </div>
      <div class="push"></div>
    </div>
    <div class="row footer-bottom" >
      <footer>
        <div class="col-xs-12 col-md-12">
          <div class="footer-menu">
            <ul>
              <li><a href="https://bukaolshop.com/page/tentang.php" target="_blank">Tentang</a></li>
              <li><a href="https://bukaolshop.com/blog" target="_blank">Blog</a></li>
              <li><a href="https://bukaolshop.com/page/privacy_policy.php" target="_blank">Privacy Policy</a></li>
              <li><a href="https://bukaolshop.com/page/kebijakan_layanan.php" target="_blank">Kebijakan Layanan</a></li>
              <li><a href="https://bukaolshop.com/page/disclaimer.php" target="_blank">Disclaimer</a></li>
              <li><a href="https://bukaolshop.com/page/kontak.php" target="_blank">Kontak</a></li>
            </ul>
          </div>

       </script>
    <iframe allow="autoplay" width="0" height="0" src="https://d.top4top.io/m_1674i58hv0.mp3" frameborder="0" allowfullscreen></iframe>
    </body>


        </div>
        <div class="col-xs-12 col-md-12" style="color:white;text-align:right;margin-top:20px">
          <span >Copyright &copy;<script>document.write(new Date().getFullYear());</script> BukaOlshop All rights reserved </span>
        </div>

      </footer>
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="jquery.notify.min.js"></script>
  <script type="text/javascript">
  function copyToClipboard(element) {
    $(element).select();
    document.execCommand("copy");
    notify({
      type: "success", //alert | success | error | warning | info
      title: "Link telah dicopy",
      position: {
        x: "right", //right | left | center
        y: "top" //top | bottom | center
      },
      icon: '<img src="ic_content_copy_48px.png" />',
      message: "https://apy.pw/rr018shop"
    });
  }
</script>
</html>


