
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

      <title>DOWNLOAD APK RR018-SHOP</title>
      <meta property="og:title" content="RR018 SHOP🔥⚡"/>  
      <meta property="og:image" content="https://b.top4top.io/p_2009aojvb8.jpeg">
      <link rel="shortcut icon" href="https://b.top4top.io/p_2009aojvb8.jpeg">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://storage3.bukaolshop.com/asset/style.css">
      <link href="jquery.notify.css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175234168-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175234168-1');
</script>

     <script>
      alert(`WELCOME TO`)
    </script>
     
     
    </head>
    <body style="font-family:Arial">

      

        <div class="row">
          <div class="col-md-12 col-centered" style="margin-top:30px">
            <center>
              <h1>Download Aplikasi RR018-SHOP</h1>
              <p><img src="https&colon;&sol;&sol;storage1&period;bukaolshop&period;com&sol;images2&sol;77603&sol;icon&sol;8177737&period;png" alt="" style="width:80px;margin-top:10px"></p>
              <a href='https://download.bukaolshop.com/files/apk/rr018shop.apk' class='myButton'>DOWNLOAD APK</a>            </center>
          </div>
          <div class="col-md-12 ">
            <center>
              <div class="card">
                <table>
                  <tbody>
                    <tr>
                      <td>Nama Aplikasi</td>
                      <td>:</td>
                      <td>RR018-SHOP</td>
                    </tr>
                    <tr>
                      <td>Versi</td>
                      <td>:</td>
                      <td>0.1(Beta)</td>
                    </tr>
                    <tr>
                      <td>Format</td>
                      <td>:</td>
                      <td>APK</td>
                    </tr>
                    <tr>
                      <td>Size</td>
                      <td>:</td>
                      <td>4 - 6 MB</td>
                    </tr>
                    <td>Link Singkat</td>
                    <td>:</td>
                    <td><input type="text" id="txtlink" placeholder="Link" class="form-control" value="https://tinyurl.com/yfgp8knn"></td>
                  </tr>
                  <tr>
                    <td class="copytd"></td>
                    <td class="copytd"></td>
                    <td class="copytd"><button onclick="copyToClipboard('#txtlink')"  class="copy">Copy</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </center>
        </div>
      </div>
      
      <div class="push"></div>
    </div>
    <div class="row footer-bottom" >
      <footer>
        <div class="col-xs-12 col-md-12">
          <div class="footer-menu">
            <ul>
              <li><a href="6285788555068" class="nav-link"><i data-feather="dollar-sign"></i><span>target="_blank">Ovo</a></li>
              <li><a href="6285788555068" class="nav-link"><i data-feather="dollar-sign"></i><span> target="_blank">Pulsa</a></li>
              <li><a href="https://saweria.co/RR018" class="nav-link"><i data-feather="dollar-sign"></i><span> target="_blank">Saweria</a></li>   
            </ul>
          </div>

       

        </div>
        <div class="col-xs-12 col-md-12" style="color:white;text-align:right;margin-top:20px">
          <span >Copyright &copy;<script>document.write(new Date().getFullYear());</script> RR018 </span>
        </div>

      </footer>
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="jquery.notify.min.js"></script>
  <script type="text/javascript">
  function copyToClipboard(element) {
    $(element).select();
    document.execCommand("copy");
    notify({
      type: "success", //alert | success | error | warning | info
      title: "Link Berhasil dicopy",
      position: {
        x: "right", //right | left | center
        y: "top" //top | bottom | center
      },
      icon: '<img src="ic_content_copy_48px.png" />',
      message: "https://tinyurl.com/yfgp8knn"
    });
  }
</script>
</html>


